<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%= stylesheet_link_tag :dashboard %>
    
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <section class="body-container">
        <!-- SideBar Html Code -->
        <%= render 'layouts/side_view'%>

        <!-- Home Container Html Code -->
        <div class="home-container">
            <div class="navbar">
                <%= "Welcome" +  " #{current_user.name}" %>
                <%# <%= image_tag("circle1.png", class: "dash-icon") %>
            </div>
            <div class="content-container">
                <div class="tagline">
                    <div class="text">
                        <ion-icon name="analytics"></ion-icon>
                        <p>Dashboard /</p>
                    </div>
                    <%= Date.current.strftime("%d %B %Y") %>
                </div>
                <div class="links-box">
                    <a href="/events/new" class="links">
                        
                        
                        <p>New Form</p>
                        <ion-icon name="construct"></ion-icon>
                    </a>
                    <a href="/history" class="links">
                        <p>History</p>
                        <ion-icon name="images"></ion-icon>
                    </a>
                    <a href="/download" class="links">
                        <p>Download PDF</p>
                        <ion-icon name="female"></ion-icon>
                    </a>
                    <% if current_user.is_admin? %>
                    <a href="/admin/pending-events" class="links">
                        <p>Pending Task</p>
    <ion-icon name="paper-plane"></ion-icon>
    <span class="task-count"><%= @p_events_count %></span> <!-- Display the actual task count here -->
</a>
                    <% end %>
                </div>

                <div class="event-history">
<!-- Pending Events Table
<p class="heading">Pending Events</p>
<table>
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Open</th>
        </tr>
    </thead>
    <tbody>
        <% @pending_events.each_with_index do |event, index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= event.name %></td>
                <td><%= event.date.strftime("%d %B %Y") %></td>
                <td><%= link_to 'Show', event_path(event), class: 'show-btn' %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<div class="table-separator"></div>-->

<!-- Approved Events Table -->
<p class="heading">Recent Events</p>
<table>
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Open</th>
        </tr>
    </thead>
    <tbody>
        <% @approved_events.each_with_index do |event, index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= event.name %></td>
                <td><%= event.date.strftime("%d %B %Y") %></td>
                <td><%= link_to 'Show', event_path(event), class: 'show-btn' %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
            </div>
        </div>
    </section>
</body>
</html>
