<div class="unlock-instructions-container">
 <h2 class="unlock-instructions-header">Resend Unlock Instructions</h2>

 <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "unlock-instructions-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, "Email Address", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Resend Unlock Instructions", class: "form-submit-btn" %>
    </div>
 <% end %>
</div>

<%= render "devise/shared/links" %>
