<div class="forgot-password-container">
 <h2 class="forgot-password-header">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "forgot-password-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password", class: "form-label" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Change my password", class: "form-submit-btn" %>
  </div>
<% end %>
